@import './theme.css';

@font-face {
    font-family: light;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: normal;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: bold;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

/* Navbar */

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-xl);
}

.date-time{
    display: flex;
    align-items: center;
    gap: var(--gutter-lg);
}

nav h3{
    font-family: normal;
    color: var(--secondary);
    font-size: var(--font-xl);
}

nav h1{
    font-family: bold;
    color: var(--ternary);
    font-size: var(--font-3xl);
}

nav button{
    padding: var(--padding-md) var(--padding-sm);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    color: var(--quadrary);
    font-family: normal;
    font-size: var(--font-md);
    margin-right: var(--gutter-lg);
    cursor: pointer;
}

/* All contents div */

.all-contents{
    padding: var(--padding-lg) var(--padding-xl);
    width: 100%;
    display: flex;
    gap: var(--gutter-2xl);
}

.small-widgets{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-2xl);
}

/* Pomodoro widget */

.small-widgets .pomodoro{
   border: 1px solid var(--secondary);
   padding: var(--padding-xl);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: var(--gutter-lg);
   border-radius: var(--border-radius-lg);
}

.pomodoro .pomo-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-xl);
}

.pomo-top button{
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    color: var(--quadrary);
    font-family: normal;
    font-size: var(--font-lg);
    cursor: pointer;
}

.pomo-center h1{
    font-family: bold;
    font-size: var(--font-7xl);
    color: var(--ternary);
}

.pomo-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter-lg);
}

.pomo-bottom button{
    padding: var(--padding-sm) var(--padding-md);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-sm);
    color: var(--quadrary);
    font-family: normal;
    font-size: var(--font-lg);
    cursor: pointer;
}

/* Motivation quote widget */

.motivation{
    border: 1px solid var(--secondary);
    padding: var(--padding-xl);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    border-radius: var(--border-radius-lg);
}

.motivation i{
    font-size: var(--font-2xl);
    color: var(--secondary);
}

.double-quote-reverse{
    display: flex;
    justify-content: flex-end;
}

.motivation h1{
    font-family: bold;
    font-size: var(--font-xl);
    color: var(--quadrary);
}

.motivation h3{
    font-family: normal;
    font-size: var(--font-md);
    color: var(--ternary);
    text-align: right;
}

/* Todo widget */

.todo{
    flex: 1;
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius-lg);
}



.weather{
    flex: 1.5;
}
