@import './theme.css';

@font-face {
    font-family: light;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: normal;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: bold;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

main{
    max-width: 1920px;
    margin: 0 auto;
}

/* Navbar */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gutter-md);
    padding: var(--padding-lg);
}

.date-time{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}

.date-time h3{
    font-family: normal;
    font-size: var(--font-md);
    color: var(--quadrary);
}

.date-time h1{
    font-family: bold;
    font-size: var(--font-2xl);
    color: var(--ternary);
}

nav button{
    padding: var(--padding-sm) var(--padding-sm);
    font-family: normal;
    font-size: var(--font-sm);
    color: var(--quadrary);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    width: 40%;
}


/* Pomodoro Widget */

.pomodoro{
    padding: var(--padding-md);
    margin: var(--padding-xl);
    border: 1px solid var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-lg);
}

.pomo-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gutter-lg);
    gap: var(--gutter-md);
}

.pomo-top button{
    padding: var(--padding-sm) ;
    font-family: normal;
    font-size: var(--font-sm);
    color: var(--quadrary);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
}

.pomo-center h1{
    font-family: bold;
    font-size: var(--font-5xl);
    color: var(--ternary);
    margin-bottom: var(--gutter-lg);
}

.pomo-bottom button{
    padding: var(--padding-sm) var(--padding-md);
    font-family: normal;
    font-size: var(--font-sm);
    color: var(--quadrary);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    margin: var(--gutter-sm);
}

/* Motivation widget */

.motivation{
    margin-top: var(--padding-xl);
    padding: var(--padding-md);
    margin: var(--padding-xl);
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .small-widgets{
    background-color: black;
} */

.motivation i{
    color: var(--secondary);
    font-size: var(--font-xl);
}

.motivation h1{
    font-family: light;
    font-size: var(--font-lg);
    color: var(--quadrary);
    margin: var(--gutter-md) 0;
}

.motivation h3{
    font-family: normal;
    font-size: var(--font-md);
    color: var(--ternary);
    text-align: right;
}

.motivation .double-quote-reverse{
    display: flex;
    justify-content: flex-end;
}

/* Todo List widget */

.todo{
    margin-top: var(--padding-xl);
    padding: var(--padding-md);
    margin: var(--padding-xl);
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius-lg);
}

.todo-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: bold;
    font-size: var(--font-md);
    padding: 0 var(--padding-md);
    color: var(--ternary);
    margin-bottom: var(--gutter-md);
}

.todo-task{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-sm) var(--padding-md);
    align-items: center;
    gap: var(--gutter-md);
    margin-bottom: var(--gutter-sm);
}

.todo-task h2{
    font-family: normal;
    font-size: var(--font-lg);
    color: var(--quadrary);
    text-align: left;
    width: 70%;
}


.circle{
    height: 20px;
    width: 20px ;
    border: 2px solid var(--secondary);
    border-radius: 50%;
}



/* Responsive Layout */

@media (min-width: 400px) {
    
    .date-time h3{
        font-size: var(--font-xl);
    }

    .date-time h1{
        font-size: var(--font-3xl);
    }

    nav button{
        font-size: var(--font-md);
        padding: var(--padding-sm);
        width: 40%;
    }

    .pomo-top button{
        font-size: var(--font-md);
        padding: var(--padding-sm);
    }

    .pomo-center h1{
        font-size: var(--font-6xl);
    }

    .pomo-bottom button{
        font-size: var(--font-md);
        padding: var(--padding-sm) var(--padding-md);
    }

    .motivation{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .motivation i{
        font-size: var(--font-2xl);
    }

    .motivation h1{
        font-size: var(--font-xl);
    }

    .motivation h3{
        font-size: var(--font-lg);
    }
}


@media (min-width: 834px) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--padding-xl);
    }

    .date-time{
        text-align: start;
    }

    .date-time h3{
        font-size: var(--font-2xl);
    }

    .date-time h1{
        font-size: var(--font-4xl);
    }

    nav button{
        width: 20%;
        font-size: var(--font-md);
        padding: var(--padding-md) var(--padding-sm);
    }

    .pomodoro{
        width: 60%;
    }

    .small-widgets{
        display: flex;
    }

    .motivation{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .motivation i{
        font-size: var(--font-3xl);
    }

    .large-widgets{
        display: flex;
        justify-content: space-between;
    }

    .todo{
        width: 40%;
    }

    .todo-heading{
        font-size: var(--font-xl);
    }

    .todo h2{
        font-size: var(--font-xl);
    }
}


@media (min-width: 1360px) {
    
    .date-time{
        flex-direction: row;
        gap: var(--gutter-md);
        align-items: center;
    }

    .date-time h3{
        font-size: var(--font-2xl);
    }

    .date-time h1{
        font-size: var(--font-4xl);
    }

    nav button{
        width: 10%;
        font-size: var(--font-md);
    }

    .pomodoro{
        width: 100%;
    }
    
    .small-widgets{
        flex-direction: column;
    }

    .motivation{
        overflow: scroll;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 25rem;
        width: 100%;
        margin-top: -1rem;
    }

    .motivation h1{
        font-size: var(--font-xl);
    }


    .all-contents{
        display: flex;
        gap: var(--gutter-xl);
        /* background-color: green; */
    }

    .small-widgets{
        width: 30%;
    }

    .large-widgets{
        /* background-color: black; */
        width: 70%;
    }

    .todo{
        height: 43.5rem;
        overflow: scroll;
        width: 40%;

    }

    .todo-heading h1{
        font-size: var(--font-2xl);
    }

    .todo-heading h2{
        font-size: var(--font-2xl);
    }

    .todo-task h2{
        font-size: var(--font-xl);
        width: 70%;
    }


}


@media (min-width: 1920px) {

    nav{
        padding: var(--padding-2xl);
    }

    .date-time{
        gap: var(--gutter-xl);
    }

    .date-time h3{
        font-size: var(--font-3xl);
    }

    .date-time h1{
        font-size: var(--font-5xl);
    }

    nav button{
        width: 12%;
        font-size: var(--font-xl);
    }

    .pomodoro{
        width: 100%;
    }

    .pomo-top button{
        font-size: var(--font-lg);
        padding: var(--padding-md);
    }

    .pomo-center h1{
        font-size: var(--font-8xl);
    }

    .pomo-bottom button{
        font-size: var(--font-xl);
        padding: var(--padding-md) var(--padding-xl);
    }

    .motivation{
        width: 100%;
        height: 28rem;
    }

    .motivation i{
        font-size: var(--font-4xl);
    }

    .motivation h1{
        font-size: var(--font-2xl);
    }

    .motivation h3{
        font-size: var(--font-xl);
    }

    .todo{
        height: 52rem;
    }

    .todo-heading h1{
        font-size: var(--font-3xl);
    }

    .todo-heading h2{
        font-size: var(--font-3xl);
    }

    .todo-task h2{
        font-size: var(--font-2xl);
    }

    .circle{
        height: 30px;
        width: 30px ;
    }
}
