@import './theme.css';

@font-face {
    font-family: light;
    src: url(./fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: normal;
    src: url(./fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: bold;
    src: url(./fonts/AeonikTRIAL-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--primary);
}

main{
    max-width: 1920px;
    margin: 0 auto;
}

/* Navbar */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--gutter-md);
    padding: var(--padding-lg);
}

.date-time{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}

.date-time h3{
    font-family: normal;
    font-size: var(--font-md);
    color: var(--quadrary);
}

.date-time h1{
    font-family: bold;
    font-size: var(--font-2xl);
    color: var(--ternary);
}

nav button{
    padding: var(--padding-sm) var(--padding-sm);
    font-family: normal;
    font-size: var(--font-sm);
    color: var(--quadrary);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    width: 40%;
}


/* Responsive Layout */

@media (min-width: 400px) {
    
    .date-time h3{
        font-size: var(--font-xl);
    }

    .date-time h1{
        font-size: var(--font-3xl);
    }

    nav button{
        font-size: var(--font-md);
        padding: var(--padding-sm);
        width: 40%;
    }
}


@media (min-width: 834px) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: var(--padding-xl);
    }

    .date-time{
        text-align: start;
    }

    .date-time h3{
        font-size: var(--font-2xl);
    }

    .date-time h1{
        font-size: var(--font-4xl);
    }

    nav button{
        width: 20%;
        font-size: var(--font-md);
        padding: var(--padding-md) var(--padding-sm);
    }
}


@media (min-width: 1360px) {
    
    .date-time{
        flex-direction: row;
        gap: var(--gutter-md);
        align-items: center;
    }

    .date-time h3{
        font-size: var(--font-2xl);
    }

    .date-time h1{
        font-size: var(--font-4xl);
    }

    nav button{
        width: 10%;
        font-size: var(--font-md);
    }
}


@media (min-width: 1920px) {

    nav{
        padding: var(--padding-2xl);
    }

    .date-time{
        gap: var(--gutter-xl);
    }

    .date-time h3{
        font-size: var(--font-3xl);
    }

    .date-time h1{
        font-size: var(--font-5xl);
    }

    nav button{
        width: 12%;
        font-size: var(--font-xl);
    }
}
